<html>
	<head>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
		
		<script type="text/javascript" src="oo.js"></script>
		<script type="text/javascript" src="queue/context.js"></script>
		<script type="text/javascript" src="queue/queue.js"></script>
		
		<script type="text/javascript" src="template/blocks.js"></script>
		<script type="text/javascript" src="template/controls.js"></script>
		<script type="text/javascript" src="template/tokens.js"></script>
		<script type="text/javascript" src="template/lexer.js"></script>
		<script type="text/javascript" src="template/helpers.js"></script>
		<script type="text/javascript" src="template/template.js"></script>
		
		<script type="text/javascript">
			$(function () {
				if (window.console) {
					astral.queue.DEBUG = true;
					astral.template.DEBUG = true;
				}
				
				(function () {
					var _templatesCache = {};
					astral.template.Template.registerLoader(function (name, callback) {
						if (!_templatesCache[name]) {
							_templatesCache[name] = astral.template.Template.fromSource($('#'+name).html());
						}
						callback(_templatesCache[name]);
					});
				})();

				var load = function (templateId, data) {
					astral.template.Template.load(templateId, function (template) {
						template.render('#'+templateId+'Result', data);
					});
				}

				load('simpleTemplate', {items: [
						{name: 'First item'},
						{name: 'Second item'}
					]}
				);

				load('extendedTemplate', {items: [
						{name: 'First item name', href: "first_item_href"},
						{name: 'Second item name', href: "second_item_href"}
					]}
				);

				load('ifStatementTemplate', {items: [
						{name: 'First item, with href', href: "first_item_href"},
						{name: 'Second simple item'}
					]}
				);

				load('eachElseTemplate', {items: []});
			});
		</script>
		
		<script type="template/astral" id="simpleTemplate">
			<ul>
				<@ each items as item @>
					<li><%= item.name %></li>
				<@ endeach @>
			</ul>
		</script>
		
		<script type="template/astral" id="defTemplate">
			<? def printItem ?>
				<%= item.name %>
			<? enddef ?>
			<ul>
				<@ each items as item @>
					<li><@ call printItem @></li>
				<@ endeach @>
			</ul>
		</script>
		
		<script type="template/astral" id="extendedTemplate">
			<? extends "defTemplate" ?>
			<? def printItem ?>
				<a href="<%= item.href %>"><@ super @></a>
			<? enddef ?>
		</script>
		
		<script type="template/astral" id="ifStatementTemplate">
			<? extends "defTemplate" ?>
			<? def printItem ?>
				<@ if item.href @>
					<a href="<%= item.href %>"><@ super @></a>
				<@ else @>
					<@ super @>
				<@ endif @>
			<? enddef ?>
		</script>
		
		<script type="template/astral" id="eachElseTemplate">
			<@ each items as item @>
				<%= item %>
			<@ else @>
				Empty ``each`` argument.
			<@ endeach @>
		</script>
	</head>
	<body>
		<div id="simpleTemplateResult"></div>
		<div id="extendedTemplateResult"></div>
		<div id="ifStatementTemplateResult"></div>
		<div id="eachElseTemplateResult"></div>
	</body>
</html>
